header {
    padding-block: 32px;
    font: var(--text-md);
}
/* parte dos icones de lugar, avião e imagem*/
header .container {
    display: flex;
     justify-content: space-between; /* espaço igual entre os itens */
     align-items: center;
}



#profile{
    display: flex;
    align-items: center;
    gap: 32px;
}
#profile > div {
    max-width: 384px;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}



#info {
    list-style: none; /* tirando o estilo da lista, aquela bolinha */
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
    
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
    
}